<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to First Flask!</h1>
    <a href="/about">About</a>
    <h2>Masukkan Nama : </h2>
    <form action="/submit" method="POST">
        <input type="text" name="name" placeholder="Enter your name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
